.h1 {
    border: 2px solid black;
    text-align: center;
    background-color: wheat;
    margin-top: 30px;
}

.footer {
    border: 2px solid black;
    text-align: center;
    background-color: wheat;
    height: 50px;
    margin-top: 8%;
}